<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 26.5 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159122 sha256=aa72e6683d8d446e72b9b957d0ba98f406d84aba167102b5445e70988a529c73
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/ef/95/ac/c232f83b415900c26553c64266e1a2b2863bc63e7a5d606c7e
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [7]:
%sql select * from SPACEXTBL limit 1

 * sqlite:///my_data1.db
Done.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')]

In [8]:
%sql select distinct "Launch_Site" from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [11]:
%sql select * from SPACEXTBL where "Launch_Site" like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [12]:
%sql select sum("PAYLOAD_MASS__KG_") from SPACEXTBL where "Customer" = 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [17]:
%sql select avg("PAYLOAD_MASS__KG_") from SPACEXTBL where "Booster_Version" = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [20]:
%sql select min("Date") from SPACEXTBL where "Landing _Outcome" = 'Success (ground pad)'

 * sqlite:///my_data1.db
Done.

[('01-05-2017',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [28]:
%sql select distinct "Booster_Version" from SPACEXTBL \
where "Landing _Outcome" = 'Success (ground pad)' \
and "PAYLOAD_MASS__KG_" between 4000 and 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1032.1',), ('F9 B4 B1040.1',), ('F9 B4 B1043.1',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [9]:
%sql select trim("Mission_Outcome"), count(*) from SPACEXTBL group by trim("Mission_Outcome")

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [11]:
%sql select distinct  from SPACEXTBL where "PAYLOAD_MASS__KG_" = (select max("PAYLOAD_MASS__KG_") from SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('ABS-2A Eutelsat 117 West B', 3600),
 ('ABS-3A Eutelsat 115 West B', 4159),
 ('AMOS-17, Starlink 1 v1.0 ', 6500),
 ('ANASIS-II, Starlink 9 v1.0', 5500),
 ('AsiaSat 6', 4428),
 ('AsiaSat 8', 4535),
 ('Bangabandhu-1', 3600),
 ('Boeing X-37B OTV-5', 4990),
 ('BulgariaSat-1', 3669),
 ('CASSIOPE', 500),
 ('Crew Dragon Demo-1, SpaceX CRS-17 ', 12055),
 ('Crew Dragon Demo-2, Starlink 7 v1.0 ', 12530),
 ('Crew Dragon in-flight abort test, Starlink 3 v1.0 ', 12050),
 ('Crew-1, Sentinel-6 Michael Freilich ', 12500),
 ('DSCOVR', 570),
 ('Dragon Spacecraft Qualification Unit', 0),
 ('Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0),
 ('Dragon demo flight C2', 525),
 ('EchoStar 23', 5600),
 ('Es hail 2', 5300),
 ('Formosat-5', 475),
 ('GPS III-01 ', 4400),
 ('GPS III-03, ANASIS-II', 4311),
 ('GPS III-04 , Crew-1', 4311),
 ('GovSat-1 / SES-16', 4230),
 ('Hispasat 30W-6  PODSat', 6092),
 ('Inmarsat-5 F4', 6070),
 ('Intelsat 35e', 6761),
 ('Iridium NEXT 1', 9600),
 ('Iridium NEXT 2', 9600),
 ('Iridium NEXT 3', 9600),
 ('Iridium NEXT 4', 9600),
 ('Iridium NEXT 5', 9600),
 ('Iridium NEXT 6   GRACE-FO 1, 2', 6460),
 ('Iridium NEXT-7', 9600),
 ('Iridium NEXT-8', 9600),
 ('JCSAT-14', 4696),
 ('JCSAT-16', 4600),
 ('JCSat-18 / Kacific 1, Starlink 2 v1.0 ', 6956),
 ('Jason-3', 553),
 ('Koreasat 5A', 3500),
 ('Merah Putih ', 5800),
 ('NROL-76', 5300),
 ('Nusantara Satu, Beresheet Moon lander, S5', 4850),
 ('OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316),
 ('OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034),
 ('Paz  Tintin A & B', 2150),
 ('RADARSAT Constellation, SpaceX CRS-18 ', 4200),
 ('SAOCOM 1A', 3000),
 ('SAOCOM 1B, GNOMES 1, Tyvak-0172', 3130),
 ('SES-10', 5300),
 ('SES-11 / EchoStar 105', 5200),
 ('SES-12', 5384),
 ('SES-8', 3170),
 ('SES-9', 5271),
 ('SSO-A ', 4000),
 ('Sentinel-6 Michael Freilich, Starlink 15 v1.0 ', 1192),
 ('SpaceX CRS-1', 500),
 ('SpaceX CRS-10', 2490),
 ('SpaceX CRS-11', 2708),
 ('SpaceX CRS-12', 3310),
 ('SpaceX CRS-13', 2205),
 ('SpaceX CRS-14', 2647),
 ('SpaceX CRS-15', 2697),
 ('SpaceX CRS-16', 2500),
 ('SpaceX CRS-17, Starlink v0.9', 2495),
 ('SpaceX CRS-18, AMOS-17 ', 2268),
 ('SpaceX CRS-19, JCSat-18 / Kacific 1 ', 2617),
 ('SpaceX CRS-2', 677),
 ('SpaceX CRS-20, Starlink 5 v1.0 ', 1977),
 ('SpaceX CRS-21', 2972),
 ('SpaceX CRS-3', 2296),
 ('SpaceX CRS-4', 2216),
 ('SpaceX CRS-5', 2395),
 ('SpaceX CRS-6', 1898),
 ('SpaceX CRS-7', 1952),
 ('SpaceX CRS-8', 3136),
 ('SpaceX CRS-9', 2257),
 ('Starlink 1 v1.0, SpaceX CRS-19 ', 15600),
 ('Starlink 10 v1.0, SkySat-19, -20, -21, SAOCOM 1B ', 15440),
 ('Starlink 11 v1.0, Starlink 12 v1.0 ', 15600),
 ('Starlink 12 v1.0, Starlink 13 v1.0 ', 15600),
 ('Starlink 13 v1.0, Starlink 14 v1.0 ', 15600),
 ('Starlink 14 v1.0, GPS III-04  ', 15600),
 ('Starlink 15 v1.0, SpaceX CRS-21', 15600),
 ('Starlink 2 v1.0, Crew Dragon in-flight abort test ', 15600),
 ('Starlink 3 v1.0, Starlink 4 v1.0 ', 15600),
 ('Starlink 4 v1.0, SpaceX CRS-20', 15600),
 ('Starlink 5 v1.0, Starlink 6 v1.0 ', 15600),
 ('Starlink 6 v1.0, Crew Dragon Demo-2 ', 15600),
 ('Starlink 7 v1.0, Starlink 8 v1.0', 15600),
 ('Starlink 8 v1.0, SkySats-16, -17, -18, GPS III-03 ', 15410),
 ('Starlink 9 v1.0, SXRS-1, Starlink 10 v1.0 ', 14932),
 ('Starlink v0.9, RADARSAT Constellation', 13620),
 ('Telstar 18V / Apstar-5C', 7060),
 ('Telstar 19V', 7075),
 ('Thaicom 6', 3325),
 ('Thaicom 8', 3100),
 ('Transiting Exoplanet Survey Satellite (TESS)', 362),
 ('Turkmen 52 / MonacoSAT', 4707),
 ('Zuma', 5000)]

In [21]:
%sql select * from SPACEXTBL limit 1

 * sqlite:///my_data1.db
Done.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [33]:
%sql select substr(Date, 4, 2) as month, "Booster_Version", "Launch_Site" \
from SPACEXTBL where substr("Date",7,4)='2015' and "Landing _Outcome" = 'Failure (drone ship)'

 * sqlite:///my_data1.db
Done.

[('01', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [44]:
%sql select "Landing _Outcome", count(*) from SPACEXTBL \
where "Date" between '04-06-2010' and '20-03-2017' \
and trim("Landing _Outcome") like '%Success%'\
group by "Landing _Outcome" \
order by count(*) desc

 * sqlite:///my_data1.db
Done.

[('Success', 20), ('Success (drone ship)', 8), ('Success (ground pad)', 6)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>